/* Global Layout */
html,body {height:100%;}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212529;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in-text {animation: fadeInUp 1s ease-out forwards;}

/* Cards */
.notely-img {
    border: 8px solid white;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    object-fit: cover;
}
.notely-img:hover {
    transform: rotate(2deg) scale(1.05);
    border-color: gray;
}
.card {
    background-color:rgb(179, 50, 50);
    color: #0d1013;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    border: 2px solid #343a40;
    border-radius: 15px;
    overflow: hidden;
}
.card:hover {
    background-color: rgb(228, 208, 208) ;
    color:#dc3545;
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4) !important;
}

/* Note Details */
.note-content{line-height: 1.6;}
.note-content h1, .note-content h2, .note-content h3 {
    color: #ffca28;
    margin-top: 20px;
    border-bottom: 1px solid #495057;
    padding-bottom: 5px;
}
.note-content strong {color: #f32323;font-weight: bold;}
.note-content ul {color: #ced4da;padding-left: 20px;}
.note-content p {color: #232425;}
.stretched-link::after {background-color: transparent;}

/* Footer */
footer {font-size: 14px; color: whitesmoke;font-family: Verdana, Geneva, Tahoma, sans-serif}
footer span { color:rgb(243, 35, 35); font-family: Georgia, 'Times New Roman', Times, serif}
